// Colors
$high-light: #d03000;
$background: #f3f1ec;
$section-background: #f3f1ec;
$text-color: #404040;

// Typography
$font-family: "Raleway", sans-serif;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
