@import "../styles/variables";

.about {
  padding-top: 80px;

  @media screen and (min-width: $sm) {
    padding-top: 100px;
  }

  .subheading {
    margin-bottom: 60px;
  }

  h3 {
    margin: 40px auto 24px auto;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;

    @media screen and (min-width: $sm) {
      margin-bottom: 0;
    }
  }
}

.tools {
  margin: 40px auto 40px auto;

  @media screen and (min-width: $sm) {
    margin: 40px auto 100px auto;
  }
}
