@import "../../styles/variables";

.about {
  margin-top: 80px;
  margin-bottom: 80px;

  @media screen and (min-width: $sm) {
    margin-top: 100px;
    margin-bottom: 200px;
  }
}

.textSection {
  padding: 40px;
  border: $high-light solid 3px;
  border-radius: 12px;

  h2 {
    padding-bottom: 30px;
  }
}

.imgWrapper {
  display: none;

  @media screen and (min-width: $lg) {
    display: block;
    position: absolute;
    left: 44%;
    top: 200px;
  }
}
