@import "../../styles/variables";

.header {
  background-image: url(../../../public/images/header-background-mvp.png);
  background-position: center;
  background-size: cover;

  .column {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .textblock {
    width: 640px;
    text-align: right;
    align-self: end;
    padding: 280px 0 200px 0;
  }

  .heading {
    font-size: 4rem;
    font-weight: 600;
    color: $text-color;
  }

  .paragraph {
    font-size: 1.5rem;
    line-height: 2;
    color: $text-color;
    padding: 36px 0 40px 0;
  }

  .scroll {
    text-align: center;
    align-self: center;
    padding-bottom: 60px;
  }
}
