@import "../../styles/variables";

.wrapper {
  background-color: $section-background;
  padding-top: 80px;
  padding-bottom: calc(80px - 1.5rem);

  @media screen and (min-width: $sm) {
    padding-top: 100px;
    padding-bottom: calc(100px - 1rem);
  }

  .headerWrapper {
    padding-bottom: 60px;
  }

  .moreLink {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border: white solid 1px;
    border-radius: 12px;
    padding: 1rem;
    transition: all 200ms ease-in;

    &:hover {
      border-color: $high-light;
      cursor: pointer;
    }
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
}
